<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>growin</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
  <% unless session[:user] %>
  <!--ログイン前-->
  <div class="form">
    <form action="/signin" method="POST">
      <input name="name" placeholder="メンバー名を入力"><br>
      <input name="password" type="password" placeholder="パスワードを入力"><br>
      <input type="submit" value="ログイン">
    </form>
    <a href="/sign_up" class="btn btn-default">はじめての時はこちら！</a>
  </div>
  <% else %>
  <!--ログイン後-->
  <h1>growin</h1>
    <p>こんにちは、<%= current_user.name %>！</p>
  <div>
    <p>目標：<%= @purpose %></p>
    <p>今のTMS：<%= @percent %></p>
  <form action="/make_history/<%= @percent_number %>" method="POST"> 
    <input type="submit" value="今の%を保存する">
  </form>
    <p>前回のTMS：<%= @present_persent.rate unless @present_persent == nil %>%</p>
    <img src="images/piki/piki_0<%= @image_name %>.png">
    <button><a href="<%= current_user.tms_url %>" target="_blank">開発を進めよう！</a></button>
  <form action="/signout" method="GET">
    <input type="submit" value="ログアウト">
  </form>
  <% end %>
</body>
</html>
