<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>growin</title>

  
    <link rel="stylesheet" href="/assets/css/index.css">
    <!--<link rel="stylesheet" href="/assets/css/login.css">-->
    <link rel="icon" href="/images/logos/favicon.ico">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
</head>
<div class="wrapper">
<body style="
<% if current_user.nil? %>background-image: url(../../images/background-new.gif);
<% else %>
<% if current_user.test == 't' %>background-image: url(../../images/background-hanabi.gif);
<% else %>background-image: url(../../images/background-new.gif);<% end %><% end %>
">
  <% unless session[:user] %>
  <!--ログイン前-->

<div class="login">
    <div class="loginInfo">
      <form action="/signin" method="POST">
        <input name="name" placeholder="メンバー名を入力">
        <input name="password" type="password" placeholder="パスワードを入力">
        <input  id="submit" type="submit" value="ログイン">
      </form>
      
          <a href="/sign_up" id="button">はじめての時はこちら！</a>
    
      </div>
    </div>
  </div>
  
  <% else %>
  <!--ログイン後-->
  <!--<h1>growin</h1>-->
  <% if current_user.test == 't' %>
  <div class="title"> <img src="/images/logos/growinkirakira.png"></div>
  <% else %>
  <div class="title"> <img src="/images/logos/growin.png"></div>
  <% end %>
    <div class="mojip"><p>こんにちは、<%= current_user.name %>！</p>
    <a href="/edit">編集する</a></div>
    <div class="chairo">
      <p>目標：<%= @purpose %></p>
    </div>
  <div class="piki">
     <img src="images/piki/piki_0<%= @image_name %>.png">
   </div>
   <div class="board">
     <h2>達成率</h2>
        <p>今のTMS：<%= @percent %></p>
        <form action="/make_history/<%= @percent_number %>" method="POST"> 
          <input type="submit" value="今の%を保存する">
        </form>
        <p>前回のTMS：<%= @present_persent.rate unless @present_persent == nil %>%</p>
       
        <button><a href="<%= current_user.tms_url %>" target="_blank">開発を進めよう！</a></button>
    </div>
    
    <div class="logout">
      <form action="/signout" method="GET">
       
          <input type="submit" value="ログアウト">
      
      </form>
  </div>
  <% end %>
  </div>
  <footer>
  <p>Life is Tech! 火曜白金高輪</p>
</footer>
 
</body>

</html>
